.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: fit-content;
  font-size: 1rem;
}

.lightgray {
  background-color: rgb(207, 207, 207);
}

.orange {
  background-color: orange;
}

.button {
  width: 100px;
  height: 85px;
  padding: 30px;
  border: 1px solid gray;
  box-sizing: border-box;
  text-align: center;
}

.buttondouble {
  width: 200px;
  height: 85px;
  padding: 30px 60px 30px 60px;
  border: 1px solid gray;
  box-sizing: border-box;
  text-align: center;
}

.screen {
  width: 400px;
  height: 85px;
  padding: 30px 5px 10px 5px;
  border: 1px solid gray;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: right;
}

.row {
  display: flex;
}

.App {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
